<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular Services Intro</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
</head>
<body ng-app="johnsApp">
<div ng-controller="johnsController as jc">
    <input type="text" ng-model="jc.artist">
    <br>
    <br>
    <button ng-click="jc.get_data()">Search Artist</button>
    <br>
    <br>
    <table border="1px solid black">
        <thead>
        <tr>
            <th>Track</th>
            <th>Artist</th>
            <th>Album Art</th>
            <th>Album Name</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="info in jc.result">
            <td>{{ info.trackName }}</td>
            <td>{{ info.artistName }}</td>
            <td><img ng-src="{{ info.artworkUrl60 }}"></td>
            <td>{{ info.collectionCensoredName }}</td>
        </tr>
        </tbody>
    </table>
</div>
<script src="script.js"></script>
</body>
</html>